<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Registro Coche</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>

<body>
  <div class="container mt-5">
    <h1>Registro datos coche</h1>
    <div class="row">

      <form action="" method="POST">
        {% csrf_token %}
        <!--  fuelTypeId	km	makeId	modelId	transmissionTypeId	year	cubicCapacity	doors	hp -->

        <div class="form-group">
          <label for="exampleFormControlSelect1">fuelType</label>
          <select class="form-control" id="exampleFormControlSelect1" name="fuelTypeId">
            <option value="1" selected="selected">Diesel</option>
            <option value="2">Gasolina</option>
            <option value="3">Electrico</option>
            <option value="4">Hibrido</option>
            <option value="5">Hibrido enchufable</option>
            <option value="6">Gas licuado (GLP)</option>
            <option value="7">Gas natural (CNG)</option>
          </select>
        </div>

        <div class="form-group">
          <label for="km">Km:</label>
          <input type="text" class="form-control" id="km" name="km" aria-describedby="km" placeholder="Enter Km">
        </div>

        <div class="form-group">
          <label for="select_marcas_id">Make</label>
          <select class="form-control" id="select_marcas_id" name="makeId">

          </select>
        </div>

        <input type="submit" value="OK">

      </form>

    </div>
    <br>
    {% if predict%}
    <h1>Prediction</h1>
    <h5>Model:</h5>
    <p>{{model}}</p>
    <h5>Precio predict:</h5>
    <p>{{ predict }}</p>
    {% endif %}



  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>


  <!-- este script es para rellenar el select de las marcas, con su id en el value -->
  <script>
    const newOptions = [{ id: 1, nombre: 'option1' }, { id: 2, nombre: 'option2' }, { id: 3, nombre: 'option2' }];

    function llenarSelect(list) {
      const select = document.getElementById('mySelect');

      list.forEach(e => {
        const option = document.createElement('option');
        option.text = e.nombre;
        option.value = e.id;
        select.appendChild(option);
      })
    }

    llenarSelect(newOptions);
  </script>

</body>

</html>